{%extends "store/base.html"%}
{% load static %}

{%block content%}
<section class="mt-2">
  <div class="container">
    <div class="row h-100">
      <div class="col-sm-2 d-none d-md-block text-center my-5">
        <img src="{% static 'store/img/aubergine.png' %}" alt="" class="img-fluid img-thumbnail dessin" id="radis">
      </div>
      <div class="col-12 col-md-8 my-auto">
        <div class="py-4 px-5 mt-5 border rounded" style="background-color:white">
          <h5>MON PANIER</h5>
          <div class="" style="color:red"> {{message}} </div>
          {%if cart%}
        <table class="table mt-4" data-url="{%url 'store:cart'%}">
          <thead class="">
            <tr>
              <th scope="col" colspan="2">Produit</th>
              <th scope="col">Quantité</th>
              <th scope="col" style="text-align : right">Total</th>
            </tr>
          </thead>
          <tbody>
            {%for elt in cart%}
              <tr data-product="{{elt.fk_variety.id}}" data-price="{{elt.fk_variety.price}}">
                <td style="width:7em">
                  <img src="{{elt.fk_variety.image.url}}" alt="" class="img-fluid mb-2 border rounded my-auto">
                </td>
                <td class="text-center">{{elt.fk_variety.fk_product.name|capfirst}} - {{elt.fk_variety.name}}</td>
                <td>

                {% with id=elt.fk_variety.id quantity=elt.quantity stock=elt.fk_variety.stock %}
                  {%include 'store/cartbutton.html'%}
                {%endwith%}

                </td>
                <td style="text-align : right" class="subtotal">{{elt.total}}</td>
              </tr>
            {%endfor%}
            <tr>
              <td colspan="4" style="text-align : right" id="total_cart">{{total}}</td>
            </tr>
          </tbody>
        </table>
        {%else%}
        <p class="my-5">Vous n'avez aucun produit dans votre panier pour l'instant. </p>
        {%endif%}
      </div>
        <div class="row my-5">
          <div class="col-6 text-center">
            <a href="{%url 'store:webmarket'%}">
              <button class="btn btn-outline-info" type="button" name="button">Continuez mon marché</button>
            </a>
          </div>
          <div class="col-6 text-center">
            {%if request.user.is_authenticated%}
            <button class="btn btn-info" data-reservation="{%url 'store:reservation'%}" data-min= "15" id="command" type="button" name="button" {% if total < 15 %}disabled{%endif%}>Vérifier le stock et passer commande</button>
            {%else%}
            <button class="btn btn-info" data-toggle="modal" data-target="#ModalLogin" data-min= "15" type="button" name="button" {% if total < 15 %}disabled{%endif%}>Vérifier le stock et passer commande</button>
            {%endif%}
          </div>
        </div>
      </div>
      <div class="col-sm-2 d-none d-md-block text-center my-auto">
        <img src="{% static 'store/img/artichaut.png' %}" alt="" class="img-fluid img-thumbnail dessin" id="aubergine">
      </div>
    </div>
  </div>
</section>
{%endblock%}
