{%extends "store/base.html"%}
{% load static %}

{%block content%}
<section class="mt-2">
  <div class="container">
    <div class="row h-100">
      <div class="offset-lg-1 col-lg-10 my-auto">
        <table class="table" data-url="{%url 'store:cart'%}">
          <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="2">Produit</th>
              <th scope="col">Quantité</th>
              <th scope="col" style="text-align : right">Total</th>
            </tr>
          </thead>
          <tbody>
            {%for elt in cart%}
              <tr data-product="{{elt.fk_variety.id}}" data-price="{{elt.fk_variety.price}}">
                <td style="width:6em"><div class="table-image"></div></td>
                <td class="text-center">{{elt.fk_variety.fk_product.name|capfirst}} - {{elt.fk_variety.name}}</td>
                <td>

                {% with id=elt.fk_variety.id quantity=elt.quantity stock=elt.fk_variety.stock %}
                  {%include 'store/cartbutton.html'%}
                {%endwith%}

                </td>
                <td style="text-align : right" class="subtotal">{{elt.total}}</td>
              </tr>
            {%endfor%}
            <tr>
              <td colspan="4" style="text-align : right" id="total_cart">{{total}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row my-5">
          <div class="col-6 text-center">
            <a href="{%url 'store:webmarket'%}">
              <button class="btn btn-outline-info" type="button" name="button">Continuez mon marché</button>
            </a>
          </div>
          <div class="col-6 text-center">

            {% if total < 15 %}
            <button class="btn btn-info" data-min= "15" id="command" type="button" name="button" disabled>Passer commande</button>
            {%else%}
            <button class="btn btn-info" data-min= "15" id="command" type="button" name="button">Passer commande</button>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
