{%extends "store/base.html"%}
{% load static %}

{%block content%}
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 px-5 py-4">
        <h5>Les produits de votre panier sont réservés pendant 5 min.
          <br>
          Passé ce délai, ou en quittant cette page, nous ne garantissons plus leur disponibilité.
        </h5>
      </div>
    </div>
    <div class="row h-100">

      <div class="col-md-5">
        <form class="" action="{%url 'store:valid'%}" method="post" id="formvalidation">
          {%csrf_token%}

        <div class="py-4 px-4 border rounded" style="background-color:white">
          <h5>Email</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" value="{{request.user.username}}" name="username" required>
          </div>
        </div>

        <div class="mt-2 py-4 px-4 border rounded" style="background-color:white" id="collect_space">
          <div class="" id="collect_choices">

          <h5>Choix de collecte</h5>
          <div class="input-group mb-3">
            <select class="custom-select" id="choicecollect" name="choice" required>
              <option value="" id="first" selected disabled hidden>choisir...</option>
              <option value="withdrawal">Retrait en direct</option>
              <option value="clickcollect" {%if not locker%}disabled{%endif%}>Retrait en click&collect</option>
              {%if client_type != "restaurateur"%}
              <option value="delivery">Livraison</option>
              {%endif%}
            </select>
          </div>

        <div class="optioncollect" style="display:none" id="withdrawal">
          <div class="input-group mb-3">
          <select class="custom-select" name="option_withdrawal">
              {%for elt in directwithdrawal%}
              {%if elt.max_command > 0%}
              <option value="{{elt.pk}}">
                {{elt.fk_time_slot.fk_day.name|capfirst}} -
                {{elt.fk_time_slot.start_time|date:"H:i"}} à
                {{elt.fk_time_slot.end_time|date:"H:i"}} -
                {{elt.fk_collect_location.name|capfirst}}
              </option>
              {%endif%}
              {%endfor%}
          </select>
          </div>
        </div>

        <div class="optioncollect" style="display:none" id="clickcollect">
          <div class="input-group mb-3">
          <select class="custom-select" name="option_click">
              {%for elt in locker%}
              <option value="{{elt.pk}}">{{elt.name}}</option>
              {%endfor%}
          </select>
          </div>
        </div>

        <div class="optioncollect" style="display:none" id="delivery">
          <div class="input-group mb-3">
          <select class="custom-select" name="option_delivery">
              {%for elt in delivery%}
              <option value="{{elt.pk}}">
                {{elt.delivery_area}} -
                {{elt.fk_time_slot.fk_day.name|capfirst}} -
                {{elt.fk_time_slot.start_time|date:"H:i"}} à
                {{elt.fk_time_slot.end_time|date:"H:i"}}
              </option>
              {%endfor%}
          </select>
          </div>
        </div>
        </div>
        </div>

        <div class="mt-2 mb-2 py-4 px-4 border rounded" style="background-color:white">
          <h5>Informations de paiement</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="card_name">Nom</span>
            </div>
            <input type="text" name="cardName" class="form-control" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="card_name">N° de carte</span>
            </div>
            <input type="text" name="cardNumber" class="form-control" placeholder="1111-2222-3333-4444"required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">expiration</span>
            </div>
            <input type="text" name="month" class="form-control" required>
            <input type="text" name="year" class="form-control" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="card_name">CVV</span>
            </div>
            <input type="text" name="ccv" class="form-control" placeholder="352" form="formvalidation" required>
          </div>
        </div>
        </form>
      </div>

      <div class="col-md-7">
        <div class="py-4 px-5 border rounded" style="background-color:white">
          <h5>DETAIL DE COMMANDE</h5>
          <div class="" style="color:red"> {{message}} </div>
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col" colspan="2">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col" style="text-align : right">Total</th>
              </tr>
            </thead>
            <tbody>
              {%for elt in cart%}
                <tr data-product="{{elt.fk_variety.id}}" data-price="{{elt.fk_variety.price}}">
                  <td style="width:6em">
                    <img src="{{elt.fk_variety.image.url}}" alt="" class="img-fluid mb-2 border rounded my-auto">
                  </td>
                  <td class="text-center">{{elt.fk_variety.fk_product.name|capfirst}} - {{elt.fk_variety.name}}</td>
                  <td>
                    {{elt.quantity}}
                  </td>
                  <td style="text-align : right" class="subtotal">{{elt.total}}</td>
                </tr>
              {%endfor%}
              <tr>
                <td colspan="4" style="text-align : right" id="total_cart">{{total}}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-info" type="submit" name="button" form="formvalidation" id="commander">Commander</button>
          <div class="mt-3" id="Ajaxinfo"> </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
