{%extends "store/base.html"%}
{% load static %}

{%block content%}
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="btn btn-primary btn-sm mt-2 float-right" id="logoutbutton" href="{%url 'store:logout'%}">Se déconnecter</a>
      </div>
    </div>
    <div class="row h-100">
      <div class="col-md-3">
        <div class="presentation">
          <h4>Mes infos</h4>
          <hr>
          <p>Nom : {{client.user.first_name|capfirst}}</p>
          <p>email : {{email}} </p>
          <p>adresse :
            {{client.fk_adress.numero}},
            {{client.fk_adress.rue}}
            {%if client.fk_adress.complement%}
            {{client.fk_adress.complement}}
            {%endif%}
            {{client.fk_adress.code_postal}}
            {{client.fk_adress.ville|capfirst}}</p>
        </div>
      </div>
      <div class="offset-md-1 col-md-8">
        <div class="presentation">
          <h4>Mes commandes</h4>
          <hr>
          <div class="row">
            <div class="col-12">
              <h5>Commandes en cours</h5>
              <p>Numero de commande / detail / annulation</p>
            </div>
            <div class="col-12">
              <h5>Commandes passées</h5>
              <p>Numero de commande / detail</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
        <a class="btn btn-danger btn-sm mt-5 btn-block" id="logoutbutton" href="{%url 'store:delete_account'%}">Supprimer mon compte</a>
      </div>
    </div>
  </div>
</section>
{%endblock%}
