{%extends "store/base.html"%}
{% load static %}

{%block content%}
<section class="my-5">
  <div class="container">
    <div class="row h-100">

      <div class="col-md-3 col-sm-3 my-3">
        <h5 class="text-uppercase">Marché en Ligne</h5>
        <hr>
        {%for elt in filter%}
        <ul class="">
          <a href="#" id="{{elt.name}}" class="text-muted filtres">{{elt.name}}</a>
        </ul>
        {%endfor%}
      </div>


      <div class="offset-sm-1 col-sm-8 my-auto">
        <div class="row">

          {%for elt in catalog%}

            {%if elt.available %}
              <div class="col-6 col-md-4 my-3 product" data-category="{{elt.fk_product.fk_category.name}}">
                <div class="catalog_elt">
                  <div class="row img_product"
                  {%if elt.stock%}
                  data-toggle="modal"
                  data-target="#detailProduct"
                  {%endif%}
                  data-price="{{elt.price}}"
                  data-product="{{elt.fk_product.name}}"
                  data-variety="{{elt.name}}"
                  data-unity="{{elt.fk_unity.type}}"
                  data-id="{{elt.id}}"
                  data-stock="{{elt.stock}}"
                  data-img="{{elt.image.url}}"
                  {%if elt.quantity%}
                  data-cart = "{{elt.quantity}}"
                  {%endif%}
                  >
                  <div class="col-12">
                    <img src="{{elt.image.url}}" alt="" class="img-fluid mb-2 border rounded">
                  {%if elt.stock == 0%}
                    <p class="out_of_stock py-2 px-2"> RUPTURE DE STOCK</p>
                  {%endif%}
                  </div>

                  </div>
                  <div class="row infosproduct">
                    <div class="col-lg-12">

                    <h5 class="mt-2 pl-3">
                      <span style="font-size:0.9em">{{elt.fk_product.name|capfirst}}</span>
                      <br>
                      <span class="varietyName">{{elt.name|capfirst}}</span>
                    </h5>
                    <p class="mt-3 pl-3">{{elt.price}}€ / {{elt.fk_unity.type}}</p>
                    <div class="mb-3 pl-3">
                    {% with id=elt.id quantity=elt.quantity stock=elt.stock %}
                      {%include 'store/cartbutton.html'%}
                    {%endwith%}
                  </div>

                  </div>


                  </div>
                </div>
              </div>
            {%endif%}

          {%endfor%}

      </div>
    </div>
  </div>



<!-- MODAL DETAIL PRODUCT -->
<div class="modal fade" id="detailProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-4">
        <h5 class="modal-title text-uppercase" id="exampleModalLabel">Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row h-100">
          <div class="col-lg-5 my-auto text-center my-3">
            <img src="" alt="" class="img-fluid rounded">
          </div>
          <div class="offset-lg-1 col-lg-6 my-auto">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <p class="price my-2 col-12">prix / unité</p>
                </div>
                <div class="cart_interface col-12" data-id='id'>
                  <div class="row modif" style="display:none" data-url="{%url 'store:cart'%}">
                    <button class="col-3 btn btn-info my-2 changebutton minus"> - </button>
                    <input class="col-3 quantity" type="text" inputmode="numeric" value="1" min="1">
                    <button class="col-3 btn btn-info my-2 changebutton plus"> + </button>
                  </div>
                  <button type="submit" class="btn btn-info my-2 add" data-url="{%url 'store:adding_cart'%}" name="button">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
{%endblock%}
