@font-face {
  font-family: "josefinLight";
  src: url("josefin-sans/JosefinSans-Light.ttf");
}

@font-face {
  font-family: "josefinRegular";
  src: url("josefin-sans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "josefinBold";
  src: url("josefin-sans/JosefinSans-Bold.ttf");
}

body{
  background-color: #F5F5F5;
  font-family: "josefinRegular";
  padding-top: 1em;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(38,38,38,0.7);
  z-index: 1;
}

#farm_name{
  font-size: 4em;
  font-family: "josefinBold";
}

.navbar{
  background-color: rgba(38,38,38,1);
}

.navbar a{
  color: white;
  margin-left: 2em;
}

.carousel-inner{
  max-height:85vh;
}
.carousel-inner img{
  max-width:100%;
  height: auto;
}


section p{
  font-family: "josefinRegular";
  text-align: justify;
  opacity: 0.7;
  font-size: 1.2em;
}

section li{
  opacity: 0.7;
  font-size: 1.2em;
}

ul{
  padding-left: 0px;
}

h4{
  font-family: "josefinBold";
  color: rgba(38,38,38,0.8);
}

section{
  padding-top: 2em;
  padding-bottom: 2em;
}

.presentation{
  margin-top: 4em;
  margin-bottom: 4em;
}

.dessin{
  width: 9em;
  height: auto;
  background-color: inherit;
  border: inherit;
  opacity:0.3;
}


footer{
  background-color: rgba(38,38,38,1);
  color:white;
}


.product{
  width: 100%;
  margin-bottom: 2em;
}

.cover{
  background-color: grey;
  width: 100%;
  height :14em;
  margin-bottom: 1em;
}
.infosproduct p{
  font-size: 0.9em;
  text-align: left;
}


.table td
{
  vertical-align: middle;
  text-align: left;
  font-family: "josefinLight";
  font-size: 15px;
}

.table-image{
  width: 100px;
  height: 100px;
  background-color: grey;
}

h5{
  font-family: "josefinLight";
}

.img_product{
  position: relative;
}

.out_of_stock{
  position: absolute;
  top:1em;
  left: 1em;
  color: white;
  background-color: rgba(38,38,38,1);
  opacity: 1;
  font-size: 1em;
  font-family: "josefinLight";
}

#modalbodylogin{
  padding: 0px;
}
#actionchoice{
  background-color: #c8e6c9;
}
#create_account, #confirmpass{
  background-color: #e8f5e9;
}

.changebutton, .add{
  text-align: center;
  width:2em;
  height: 2em;
  padding : 0em;
}
.minus{
  opacity: 0.7;
}
.quantity{
  text-align: center;
  width:4em;
  height: 1em;
  border: 1px;
  background: none;
  border-color: blue;
}

#infosprofil p{
  font-family: "josefinLight";
  opacity: 1;
  font-size: 1em;
}

#adminmessage{
  background-color : #5a5e63;
  color : white;
  font-size: 0.9em;
}

.network{
  color:white;
  max-width : 1.5em;
  height:auto;
}
#insta{
  filter: invert(100%);
}

footer a {
  color:white;
  font-family: "josefinLight";
}

footer a:hover{
  color: white;
  text-decoration: none;
}

.card, .card-header{
  background-color: #F5F5F5;
  border: none;
  font-size: 0.8em;
}

.card-header{
  padding-left : 0px;
}

.card img{
  max-width: 4em;
  height: auto;
  background-color: none;
}
.title_card{
  color: rgba(38,38,38,1);
  font-family: "josefinLight";
}
.title_card:hover{
  text-decoration: none;
  color: rgba(38,38,38,1);
}

.card-body{
  background-color: rgba(250,250,250,0.3);
}
